<div class="card-content">
  <div class="card-img">
    <img src="https://placeimg.com/380/230/nature" alt="" />
    <span><h4>{{position}}.{{destino.imagenURL}}</h4></span>
  </div>
  <div class="card-desc">
    <h3>{{destino.nombre}}</h3>
    <p>Servicios:</p>
    <ul>
      <li *ngFor="let item of destino.getServicios()">
        <span [ngSwitch]="item">
          <i *ngSwitchCase="'Luz'">{{item}}</i>
          <i *ngSwitchDefault style="color: #ca0202;">{{item}}</i>
        </span>
      </li>
    </ul>
    <div>
      <a href="#" (click)="voteUp()"><span class="material-icons">thumb_up</span></a>
      <a href="#" (click)="voteDown()"><span class="material-icons">thumb_down</span></a>
      {{destino.votes}}
    </div>
    <a href="#" class="btn-card" (click)='ir()'>IR</a>
    <span *ngIf="destino.isSelected()">PREFERIDO!</span>
    <!-- <span [style.display]="destino.isSelected() ? '':'none'">PREFERIDO!</span> -->
  </div>
</div>
